.grid_container {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 165px;
  gap: 48px;

  @media (max-width: 768px) {
    padding: 0 24px;
  }

  .header {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
    color: #0e0804;
    width: 100%;
    text-align: center;
    @media (max-width: 430px) {
      font-size: 20px;
    }
  }

  .grid_card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    max-width: 1024px;
    @media (max-width: 870px) {
      grid-template-columns: 1fr;
    }
  }
}

.grid_inner_container {
  padding: 48px;
}
